.main-d {
  background-image: url("https://shop.ketab.com/images/footer-top1.jpg");
  width: 100%;
  min-height: 100vh;
}

.main-d1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 8rem 0 15rem;
}

.con1 {
  width: 48%;
  text-align: left;
  padding: 0.5rem;
  margin-top: 10px;
}

/* @media(max-width:998px){
  html{
    font-size: 55%;
  }
} */

@media(max-width:800px) {

  .main-d1 {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px;
  }

  .con1 {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-top: 3rem;
  }

  .p-tag {
    text-align: center !important;
    margin: 0rem;
    font-family: "Nunito sans-serif";
  }

  .font {
    font-weight: bold;
    margin: 0rem;
    font-family: "Nunito sans-serif";
  }
  .heading {
    margin: 0rem;
    padding-top: 1rem !important;
    font-family: "Nunito sans-serif";
  }

  .main-d1 a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 green;
    color: green;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .main-d1 a:hover {
    box-shadow: inset 20rem 0 0 0 green;
    color: white;
  }
}

.main-d1 a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 green;
  color: green;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main-d1 a:hover {
  box-shadow: inset 20rem 0 0 0 green;
  color: white;
}

.p-tag {
  text-align: left;
  margin: 0rem;
  font-family: "Nunito sans-serif";
}

.heading {
  margin: 0rem;
  padding-top: 1rem;
  font-family: "Nunito sans-serif";
  font-size: 2rem;
}

.font {
  font-weight: bold;
  margin: 0rem;
  font-family: "Nunito sans-serif";
  font-size: 1.2rem;
}
