*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: TitrBold;
  src: url("./assests/fonts/titr-bold.woff");
}
@font-face {
  font-family: BBCNassim;
  src: url("./assests/fonts/bbcnassim-bold.woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
  margin-top: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.titr-font {
  font-family: TitrBold !important;
  font-weight: 500;
}
.BBCNassim-font {
  font-family: BBCNassim !important;
  font-weight: 500;
}
